/* You can add global styles to this file, and also import other style files */
.main 
{
  margin: 0px;
  background-image: url('./assets/image/night2.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}